*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* shared style start */
.text-center{
    text-align: center;
}
.heading-color{
    color: rgb(13, 19, 33);
    font-size: 25px;
    font-weight: 800;
}
.paragraph-color{
    color: rgb(13, 19, 33);
    font-size: 15px;
    font-weight: 400;
    margin-top: 40px;
}

/* navbar start */
.nav{
    width: 1440px;
    height: 80px;
    background: rgb(255, 255, 255);
    margin: 30px auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.nav>h2{
color: rgb(13, 19, 33);
font-size: 28px;
font-weight: 800;
margin-left: -150px;
}
.nav>button{
width: 228px;
height: 58px;
color: rgb(13, 19, 33);
font-size:20px;
font-weight: 600;
margin-right: -150px;
box-sizing: border-box;
border: 1px solid rgb(13, 19, 33);
border-radius: 8px;
opacity: 0.8;
}
/* hero section style start  */
.hero-section{
width: 1440px;
height: 652px;
margin: 0 auto;
background-image: url(../assets/Hero-bg.png);
}
.hero-section>img{
width: 240.28px;
height: 240px;
margin: 0 auto;
}
.top-img{
    padding-top: 40px;
}
.hero-header{
    margin-top: 40px;
} 
.hero-header>h1{
color: rgb(13, 19, 33);
font-size: 48px;
font-weight: 800;
}
.hero-header>p{
color: rgb(13, 19, 33);
font-size: 16px;
font-weight: 400;
margin-top: 30px;
}
.hero-header>button{
width: 208px;
height: 66px;
border-radius: 8px;
background: rgb(13, 19, 33);
color: rgb(255, 255, 255);
font-size: 20px;
font-weight: 600;
margin-top: 30px;
}
/* why web development style start */
.why-web-development{
    width: 1140px;
    height:800px;
    margin: 0 auto;
    margin-top: 100px;
   }
   .why-web-dev-heading{
    width:852px;
    height:115px;
    margin: 0 auto;
    margin-top:130px;
   }
   .why-web-dev-heading>p{
       margin-top: 30px;
   }
   .cart-container{
       width: 850px;
       height: 240px;
       margin:0 auto;
       margin-top:20px;
       display: flex;
   }
   .cart-content{
       text-align: left;
       display: flex;
       flex-direction: column;
       justify-content: space-around;
       
   }
   .cart-content>h1{
       color: rgb(13, 19, 33);
       font-size: 54px;
       font-weight: 800;
       }
   .cart-content>p{
       color: rgb(13, 19, 33);
       font-size: 12px;
       font-weight: 400;
   }
   .cart-content>button{
       height:44px;
       width:150px;
       color: rgb(13, 19, 33);
       font-size:12px;
       font-weight: 600;
   }
   .cart1-img{
       margin-left: auto;
   }
   /* my-inspiration style start  */
   .my-inspiration-container{
    width: 1140px;
    height: 777px;
    margin: 0 auto;
}
.my-inspiration-content{
   
    width: 852px;
    height: 115px;
    margin: 0 auto;
}
.my-inspiration-content>p{
    margin-top: 30px;
}
.my-inspiration-video-container{
    width: 1140px;
    height: 614px;
    margin-top: 40px;
    border: 2px solid wheat;
}
.my-inspiration-video{
 background-color: 10px solid white;
    width: 1076px;
    height: 550px;
    margin:0 auto;
    margin-top:32px;
    border-radius: 20px;
    z-index: -1;
}


   /* my current target style start  */
   .my-current-target-container{
    width: 1140px;
    height: 460px;
    margin: 0 auto;
    margin-top: 130px;
}

.my-current-tatget-heading>p{
    margin-top: 30px;
 
}
.my-current-tatget-cart{
    width: 1140px;
    margin: 0 auto;
    display: flex;
    margin-top:48px;
    text-align: left;
    gap: 24px;
}
.my-current-target-cart1{
    width: 364px;
    height: 299px;
    background-color: cornflowerblue;
    padding: 40px;
}
.my-current-target-cart1>h4{
   margin-top: 20px;
   color: rgb(13, 19, 33);
   font-size: 25px;
   font-weight: 800;
}
.my-current-target-cart1>p{
    margin-top: 20px;
    color: rgb(13, 19, 33);
    font-size: 12px;
    font-weight: 400;
 }
 .cart-link>a{
    color:black;
    font-weight: bold;
 }
 .cart-link{
    margin-top: 40px;
   
 }
 #bg1{
   background-color:#fef6f5;
 }
 #bg2{
  background-color:#f3f6ff;
 }
#bg3{
 background-color: #fffcf3;
}


   /* my next target style start  */
   .my-next-target-containar{
    width: 1140px;
    height: 866px;
    margin: 0 auto;
}
.my-next-target-heading>p{
    margin-top: 30px;
}
.skills-container{
    width: 1140px;
    height: 705px;
    padding-top: 30px;
    margin-top: 20px;
   
}
.skill-cart{
    width: 1140px;
    height: 219px;
    display: flex;
    align-items: center;
    text-align: left;
    justify-content: start;
    gap: 30px;
    border: 2px solid rgba(0,0,0,0.2 );
    border-radius: 10px;
    margin-bottom:20px;

} 
.skill-cart-img{
 padding-left: 20px;
}


    /* support section style start  */
    .support-container{
       width: 1140px;
       height:400px;
       margin: 0 auto;
       background-image: url(../assets/handshake.jpg);
       background-repeat: no-repeat;
       background-size: cover;
       margin-bottom: 130px;
    }
    .support-heading{
       padding-top:150px;
    } 
    .support-heading>h1{
       font-size:40px;
       font-weight: 700;
       color:rgb(255, 255, 255);
    }
    .support-input{
       height: 57px;
       width: 500px;
       margin: 0 auto;
       margin-top: 80px;
       
   }
   input{
       width:72%;
       height: 100%;
       border-radius:7px;
      color: rgba(13, 19, 33, 0.4);
      text-align: center;
      border: #f3f6ff;
   }
   button{
       width: 20%;
       height:100%;
       border-radius:7px;
       color: rgb(13, 19, 33);
       font-size: 20px;
       font-weight: 600;
       border: #f3f6ff;
       padding: 5px;
   }

   /* footer style start  */
   .footer-continer{
       width: 1440px;
       height: 100px;
       display: flex;
       justify-content: space-between;
       margin: 0 auto;
       
   }
   .footer-text{
       margin-left:200px;
       font-weight: 800;
   }
    
  